<section class="vh-100">
     <div class="container py-5 h-100">
          <div class="row d-flex align-items-center justify-content-center h-100">
               <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                         class="img-fluid" alt="Phone image">
               </div>
               <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <form [formGroup]="loginData" (ngSubmit)="login()">
                         <div data-mdb-input-init class="form-outline mb-4">
                              <label class="form-label" for="username">Email address</label>
                              <input type="email" id="username" class="form-control" name="username"
                                   formControlName="username" placeholder="Enter Email" />
                         </div>
                         <div class="alert alert-danger"
                              *ngIf="fieldNames['username'].touched && fieldNames['username'].invalid">
                              <div *ngIf="fieldNames['username'].errors && fieldNames['username'].errors['required']">
                                   This Field is required !!
                              </div>
                         </div>
                         <div data-mdb-input-init class="form-outline mb-4">
                              <label class="form-label" for="password">Password</label>
                              <input type="password" id="password" class="form-control " name="password"
                                   formControlName="password" placeholder="Enter Password" />
                         </div>
                         <div class="alert alert-danger"
                              *ngIf="fieldNames['password'].touched && fieldNames['password'].invalid">
                              <div *ngIf="fieldNames['password'].errors && fieldNames['password'].errors['required']">
                                   This Field is required !!
                              </div>
                         </div>
                         <div class="mb-3">
                              <label class="form-label ">Captcha Code:</label>
                              <div class="d-flex align-items-center">
                                   <input type="text" id="submit" class="form-control m-3" placeholder="Enter Captcha"
                                        name="captcha" formControlName="captcha" />
                                   <div class="captcha-box border border-dark text-danger p-2 rounded">
                                        {{captchaText }}</div>
                                   <div class="m-3">
                                        <a class="fas fa-sync cursor-pointer"
                                             (click)="generateCaptcha()"><mat-icon>sync</mat-icon></a>
                                   </div>
                              </div>
                              <p id="key" class="text-danger mt-2"></p>
                         </div>
                         <div class="alert alert-danger" *ngIf="message">
                              {{ message }}
                         </div>
                         <div class="d-flex justify-content-around align-items-center mb-4">
                              <div class="form-check">
                                   <a href>Sign-Up</a>
                              </div>
                              <a (click)="forgetPass()" class="forgot-password-link">Forgot password?</a>
                         </div>
                         <button type="submit" data-mdb-button-init data-mdb-ripple-init
                              class="btn btn-primary btn-lg btn-block w-100" [disabled]="loginData.invalid">Sign
                              in</button>
                    </form>
               </div>
          </div>
     </div>
</section>