<div class="container mt-5">
     <div class="card">
          <div class="card-header text-center bg-primary">
               <h2>User Details</h2>
          </div>
          <div class="card-body">
               <form [formGroup]="userData">
                    <!-- Profile section -->
                    <div class="row align-items-center">
                         <div class="col-md-4">
                              <label class="form-label">Name:</label>
                              <input type="text" class="form-control" name="name" formControlName="name" readonly>
                         </div>
                         <div class="col-md-5">
                              <label class="form-label">Username:</label>
                              <input type="text" class="form-control" name="username" formControlName="username"
                                   readonly>
                         </div>
                         <div class="col-md-3 text-end">
                              <ng-container *ngIf="getImageUrl(); else aliasBlock">
                                   <img [src]="getImageUrl()" [alt]="setAltText()"
                                        class="rounded-circle border border-dark font-dark" width="100" height="100">
                              </ng-container>
                              <ng-template #aliasBlock>
                                   <div class="avatar-fallback h1 rounded-circle border border-dark font-dark text-center bg-secondary"
                                        style="width: 100px; height: 100px; display: flex; align-items: center; justify-content: center;">
                                        {{ getInitials() }}
                                   </div>
                              </ng-template>
                         </div>
                    </div>

                    <!-- Other details section -->
                    <div class="row mt-4">
                         <div class="col-md-6">
                              <label class="form-label">Date of Birth:</label>
                              <input type="text" class="form-control" name="dob" formControlName="dob" readonly>
                         </div>
                         <div class="col-md-6">
                              <label class="form-label">Gender:</label>
                              <input type="text" class="form-control" name="gender" formControlName="gender" readonly>
                         </div>
                    </div>

                    <div class="row mt-3">
                         <div class="col-md-6">
                              <label class="form-label">Pin Code:</label>
                              <input type="text" class="form-control" name="pincode" formControlName="pincode" readonly>
                         </div>
                         <div class="col-md-6">
                              <label class="form-label">Contact Number:</label>
                              <input type="text" class="form-control" name="mobile" formControlName="mobile" readonly>
                         </div>
                    </div>

                    <div class="row mt-3">
                         <div class="col-md-12">
                              <label class="form-label">Access Role:</label>
                              <input type="text" class="form-control" name="role" formControlName="role" readonly>
                         </div>
                    </div>

                    <div class="row mt-3">
                         <div class="col-md-12">
                              <label class="form-label">Address:</label>
                              <input type="text" class="form-control" name="address" formControlName="address" readonly>
                         </div>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                         <button type="button" class="btn btn-secondary me-3" (click)="onCancel()">Cancel</button>
                    </div>
               </form>
          </div>
     </div>
</div>