.profile-image-container {
     margin-bottom: 20px;
     /* Add space below the image */
     text-align: center;
     /* Center the image */
}

.profile-image {
     width: 120px;
     /* Set the desired width */
     height: 120px;
     /* Set the desired height */
     border-radius: 50%;
     /* Make the image circular */
     object-fit: cover;
     /* Ensure the image fits inside the circle */
     border: 3px solid #fff;
     /* Add a white border around the image */
     box-shadow: 0 0 10px rgba(8, 7, 16, 0.6);
     /* Optional shadow */
}