<div class="container mt-3 p-3">
     <div class="card border-dark">
          <div class="card-header bg-danger text-white text-center">
               <h4>Delete Employee</h4>
          </div>
          <div class="card-body">
               <div class="mb-3">
                    <p>This record will be deleted permanently.</p>
                    <p>This action cannot be undone.</p>
               </div>
          </div>
          <div class="card-footer d-flex justify-content-end">
               <button type="button" class="btn btn-secondary me-3" (click)="onCancel()">Cancel</button>
               <button type="button" class="btn btn-danger" (click)="deleteDialog()">Delete</button>
          </div>
     </div>
</div>